#///////////////////////////
# Cocos Creator Project
#///////////////////////////
library/
temp/
local/
build/
profiles/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/


Proto.js/